body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.design-news .swiper-slide {
  width: 50%;
  background: #FFFFFF;
  /* padding: 20px 10px; */
  box-shadow: 0px 163px 80px rgba(0, 0, 0, 0.04), 0px 105.648px 46.8519px rgba(0, 0, 0, 0.0303704), 0px 62.7852px 25.4815px rgba(0, 0, 0, 0.0242963), 0px 32.6px 13px rgba(0, 0, 0, 0.02), 0px 13.2815px 6.51852px rgba(0, 0, 0, 0.0157037), 0px 3.01852px 3.14815px rgba(0, 0, 0, 0.00962963);
  transition: all .4s cubic-bezier(.4, 0, .2, 1);
}

.design-news .design-news-wrapper {
  width: 100%;
  max-width: 1200px;
  position: relative;
  /* background: #14A2DC; */
  border-radius: 40px;
}

.design-news {
  display: flex;
  -webkit-box-pack: center;
  justify-content: center;
}

.design-news .swiper-slide img {
  width: 100%;
}

.mobile .swiper-slide {
  width: 90%;
}

.FlashSale_module_title {
  text-align: center;
}

.FlashSale_module_title img {
  margin-top: -70px;
}

.FlashSale_module_title .time_value {
  display: flex;
  font-weight: 400;
  padding: 0 5%;
  margin-top: 24px;
  font-size: 20px;
  color: black;
  justify-content: space-around;
  cursor: pointer;
  padding: 0 120px;
}

.FlashSale_module_title .time_value .choose {
  color: #E64849;
  font-weight: 700;
}

.FlashSale_module_title .sale_value {
  height: 15px;
  margin-top: 15px;
  padding: 0 10%;
}

.FlashSale_module_title .sale_value .whire_line {
  height: 5px;
  background-color: #FFFFFF;
  display: flex;
}

.FlashSale_module_title .sale_value .whire_line .blue {
  background-color: #026ED1;
}

.FlashSale_module_title .sale_value .whire_line .blue::after {
  width: 13px;
  height: 13px;
}

.FlashSale_module_title .sale_value .whire_line>div {
  position: relative;
  flex: 1;
}

.FlashSale_module_title .sale_value .whire_line>div::after {
  position: absolute;
  content: '';
  display: block;
  width: 13px;
  height: 13px;
  background: white;
  border-radius: 50%;
  right: -7px;
  top: -4px;
  z-index: 1;
}

.FlashSale_module_title .sale_value .whire_line .blue::after {
  background: #026ED1
}

.FlashSale_module_title .sale_value .whire_line .choose::before {
  background: #FFDD00;
  position: absolute;
  content: '';
  display: block;
  width: 7px;
  height: 7px;
  border-radius: 50%;
  right: -4px;
  top: -1px;
  z-index: 2;
}


.FlashSale_module_title .sale_value .whire_line>div:nth-child(1),
.FlashSale_module_title .sale_value .whire_line>div:nth-last-child(1) {
  flex-grow: 0.7;
}

.FlashSale_module_title .sale_value .whire_line>div:nth-last-child(1)::after {
  width: 0px;
}

.FlashSale_module_title .sale_value .whire_line>div:nth-child(1) {
  /* width: 5%; */
  border-top-left-radius: 4px;
  border-bottom-left-radius: 4px;
}

/* .FlashSale_module_title .sale_value .whire_line>div:nth-child(2) {
    width: 20%;
  }

  .FlashSale_module_title .sale_value .whire_line>div:nth-child(3) {
    width: 23%;
  }

  .FlashSale_module_title .sale_value .whire_line>div:nth-child(4) {
    width: 30%;
  }

  .FlashSale_module_title .sale_value .whire_line>div:nth-child(5) {
    width: 30%;
  } */

.FlashSale_module_title .sale_value .whire_line>div:nth-child(6) {
  /* width: 9%; */
  border-top-right-radius: 4px;
  border-bottom-right-radius: 4px;
}

.FlashSale_module .flash_product_des {
  display: flex;
  justify-content: space-between;
  padding: 21px 0% 21px 0%;
  color: #333333;
  font-size: 16px;
  /* background: #E64849; */
}

.FlashSale_module .flash_product_des .flex-left {
  text-align: left;
}

.FlashSale_module .flash_product_des .flex-left .btn {
  background: #FFFFFF;
  border-radius: 20px;
  /* width: 136px; */
  font-weight: 500;
  font-size: 26px;
  line-height: 30px;
  color: #333333;
  height: 40px;
  line-height: 40px;
  /* text-align: center; */
}

.FlashSale_module .flash_product_des .flex-left .flex-left-one {
  font-weight: 500;
  font-size: 26px;
  margin: 4px 0;
  line-height: 30px;
}

.FlashSale_module .flash_product_des .flex-left .flex-left-two {
  position: relative;
  width: 272px;
  height: 12px;
}

.FlashSale_module .flash_product_des .flex-left .flex-left-two span:nth-of-type(1) {
  position: absolute;
  width: 100%;
  background: #FFFFFF;
  height: 100%;
  border-radius: 20px;
}

.FlashSale_module .flash_product_des .flex-left .flex-left-two span:nth-of-type(2) {
  width: 65%;
  height: 100%;
  position: absolute;
  background: linear-gradient(90deg, #DF757A 2.59%, #F6D147 100%);
  border-radius: 20px;
  right: 0;
}

.FlashSale_module .flash_product_des .flex-left .flex-left-three {
  padding-left: 20px;
  margin-top: 4px;
}

.FlashSale_module .flash_product_des .flex-left .flex-left-three li {
  list-style: disc;
  margin: 4px 0;
}

.FlashSale_module .flash_product_des .flex-right .flex-right-one span:nth-of-type(1) {
  font-weight: 500;
  font-size: 26px;
  line-height: 30px;
  margin-right: 19px;
}

.FlashSale_module .flash_product_des .flex-right .flex-right-one span:nth-of-type(2) {
  font-weight: 400;
  font-size: 20px;
  line-height: 23px;
  color: #CCCCCC;
  text-decoration-line: line-through;
}

.FlashSale_module .flash_product_des .flex-right .flex-right-three {
  height: 36px;
  font-weight: 700;
  text-align: right;
  font-size: 16px;
  line-height: 36px;
  color: #E64849;
}

.FlashSale_module .flash_product_des .flex-right .flex-right-three .btn {
  background: #FF4D4F;
  width: 110px;
  display: inline-block;
  text-align: center;
  color: white;
  text-decoration: none;
}

.FlashSale_module .flash_product_des .flex-right .flex-right-three .btn:hover {
  box-shadow: 6px 6px 10px #00000057;
  transition: all .5s;
}

.FlashSale_module .flash_product_des .flex-right .flex-right-two {
  margin: 10px 0 15px 0;
  text-align: right;
}

.FlashSale_module .flash_product_des .flex-right .flex-right-two .rating-result {
  width: unset !important;
}

.FlashSale_module .flash_product_des .flex-right .flex-right-two .rating-result>span:before {
  letter-spacing: 6px !important;
}


.swiper2 {
  height: 20%;
}

.swiper2 .swiper-slide.swiper-slide-thumb-active {
  opacity: 1;
}

.swiper2 .swiper-slide {
  opacity: 0.5;
  width: 100%;
  background: none;
  box-shadow: none
}

.swiper2 .swiper-slide img {
  border: 2px solid #FFFFFF;
  border-radius: 6px;
}

.design-news .layout_inline_right {
  position: absolute;
  right: 0;
  top: 0;
  padding: 5% 0;
  width: 20%;
  height: 100%;
  box-sizing: border-box;
}

.design-news .layout_inline_bottom {
  width: 100%;
  position: absolute;
  bottom: 0;
  padding: 0 5%;
  box-sizing: border-box;
}



/* ------------------------------ */
.sliderStyle .slick-thumb img {
  width: 100%;
}

.sliderStyle .slick-thumb li {
  width: 120px;
  height: auto;
  opacity: 0.6;
}

.sliderStyle .slick-thumb li.slick-active {
  opacity: 1;
}

.sliderStyle.layout_bottom .slick-thumb {
  bottom: -83px;
  white-space: nowrap;
  overflow: scroll;
}

.sliderStyle.layout_right .slick-thumb {
  width: 130px;
  right: 0;
  display: flex !important;
  overflow: scroll;
  height: 100%;
  flex-direction: column;
  top: 0;
  justify-content: center;
}